---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

const name = "Turom";
const res = await fetch("https://jsonplaceholder.typicode.com/posts?_limit=5");
const data = await res.json();

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="About" description="About page">
	<h1>About</h1>
	<p>My name is {name.toUpperCase()}</p>

	<ul>
		{data.map((post: any) => <li>{post.title}</li>)}
	</ul>
</Layout>
